@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tag {
    @apply px-4 py-2 rounded-[30px] border  border-black text-sm;
  }
  .section-heading {
    @apply text-4xl text-black font-normal tracking-tighter  mt-5;
  }
  .social {
    @apply bg-[#97C7E2] p-2 rounded-[50%] size-[40px] flex items-center justify-center;
  }
  .card-image {
    @apply w-[300px] shadow-xl;
  }
}

:root {
  --background: #3478c1;
  --foreground: #000;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: 300; /* Normal weight */
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: 400; /* Normal weight */
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: 500; /* Normal weight */
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Helvetica Neue", sans-serif;
}

@layer components {
  .brisk-container {
    @apply w-[90%] lg:w-[85%] max-w-[1550px] mx-auto;
  }
}
